
<h1>this is main view of our party planner. </h1>

<h1> 찾아볼 콘서트의 기준을 설정하시고, 보기를 클릭하세요.</h1>
    <%= form_tag "/concert_infos/main_view", method:"post" do %>
  <!--<input id = 'sort01' type="checkbox" name='sort01' value=1 checked="checked">국내-->
    <%= check_box_tag 'sort01', 1, true%> 국내
    <%= check_box_tag 'sort02', 1, true%> 국외<br>
    <%= check_box_tag 'sort03', 1, true%> 단독
    <%= check_box_tag 'sort04', 1, true%>페스티벌
    <%= submit_tag '찾기' %>
<% end %>

<% @posts.each do |post| %>
    <a href="/concert_infos/show/<%= post.id %>">
        <br>
        <h3><%= post.id %></h3>
        <p><%= post.name %></p>
        <p><%= post.content %></p>
        <p><%= post.main_lineup%></p>
    </a>
    <% end %>
<a href="/concert_infos/new"> <p>글쓰러 가기</p></a>